.file-list {
  margin-top: 1em;
  padding: 0;
}

.file-list-item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.file-actions {
  margin-left: auto;
}

.file-action-button {
  margin: 0 5px;
  min-width: 80px;
}

.ui.segment {
  padding: 1em !important;
}

.ui.modal .actions {
  margin: 0;
}

.ui.modal .content {
  padding: 1em;
}
